body {
/*    background-image: url(/static/img/background.jpg);
    background-size: 100%;
*/}

h1, .jumbotron h1 {
    font-size: 42px;
}

.site-logo {
    height: 120px;
}

.container--header {
    margin-bottom: 10px;
}

.container .jumbotron {
    background-color: transparent;
    padding: 0;
}

.jumbotron .bx-wrapper {
    width: 100%;
    padding: 0;
    border: none;
}

.jumbotron .bx-wrapper .bx-viewport {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    width: 730px;
    height: 600px;
    background: none;
}

.bxslider--image {
    width: 730px;
}

.product-price {
    font-size: 40px;
}

.product-description {
    font-size: 20px;
}

.order-table .product-price {
    font-size: 20px;
}
.order--product-amount {
    width: 50px;
}

.footer {
    margin-top: 10px;
}
