{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CityFood{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="container">
    {% block content %}{% endblock %}
    </div> <!-- /container -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
