{% extends "base.html" %}

{% block title %}CityFood - доставка комплексных обедов в офисы Полтавы{% endblock %}
{% block meta_keywords %}cityfood, ситифуд, доставка, обеды, комплексные, офис, блюдо, полтава{% endblock %}

{% block content %}
<div class="jumbotron">
<h1>Доставим комплексные обеды прямо к вам в офис</h1>

<ul class="bxslider">
    {% for product in products %}
    <li>
    <h2 class="product-name">{{ product.name }}</h2>
    <img class="bxslider--image" src="/media/{{ product.image }}">
    <table class="table">
    <tr>
    <td style="text-align:left;width:70%;">
    <div class="product-description">{{ product.description }}</div>
    </td>
    <td>
    <div class="product-price">{{ product.price|floatformat:2 }} грн.</div>
    <a href="{% url 'order' %}?product={{ product.id }}" class="btn btn-warning btn-block">Заказать</a>
    </td>
    </tr>
    </div>
    </table>
    </li>
    {% endfor %}
</ul>
</div>

<p>Компания CityFood производит доставку горячих обедов прямо к вам в офис. Вы можете выбрать как комплексный обед из представленных вариантов так и подобрать те блюда, которые Вам понравились. Все блюда приготовлены из качественных продуктов и доставляются свежими, практически сразу после того как были приготовлены. Доставка осуществляется в любую точку города Полтавы, и происходит с 11:30 до 14:00. Каждое блюдо упаковывается в герметичный пластиковый контейнер, что обеспечивает сохранность качества при доставке.</p>

<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider();
});
</script>


{% comment %}
<div class="row marketing">
<div class="col-lg-6">
  <h4>Subheading</h4>
  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  <h4>Subheading</h4>
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  <h4>Subheading</h4>
  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
</div>

<div class="col-lg-6">
  <h4>Subheading</h4>
  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  <h4>Subheading</h4>
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  <h4>Subheading</h4>
  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
</div>
</div>
{% endcomment %}
{% endblock %}