{% extends "admin/change_list.html" %}
{% block object-tools %}
{{ block.super }}
{% if opts.db_table == "catalog_product" %}
<div class="object-tools btn-group">
    <a class="btn" href="{{ printmenu_url }}">Печать меню</a>
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ checkmenu_url }}">Сверка меню</a></li>
    <li><a href="{{ allproducts_url }}">Сводка по товарам</a></li>
  </ul>
</div>
{% endif %}
{% endblock %}