{% extends "clear.html" %}

{% block title %}Меню{% endblock %}

{% block content %}
<h1>Меню CityFood</h1>
<p>Документ для сверки</p>
<p>Дата сверки: {{ date }}</p>

<table class="table table-bordered table-striped">
<tr>
    <th>№</th>
    <th>Название</th>
    <th>Цена в закупке (грн.)</th>
    <th>Наличие сегодня</th>
    <th>Наличие на завтра</th>
    <th>Заметки</th>
</tr>
{% for p in products %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ p.name }}<br/><small>{{ p.description }}</small></td>
    <td>{{ p.purchase_price }}</td>
    <td>{% if p.active %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
    <td></td>
    <td></td>
</tr>
{% endfor %}
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td></tr>
</table>
{% endblock %}
