{% extends "clear.html" %}

{% block title %}Меню{% endblock %}

{% block content %}
<h1>Меню CityFood</h1>
<p>Дата: {{ date }}</p>

<table class="table table-bordered table-striped">
<tr>
    <th>№</th>
    <th>Название</th>
    <th>Цена (грн.)</th>
    <th>Наличие</th>
    <th>Заметки</th>
</tr>
{% for p in products %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ p.name }}<br/><small>{{ p.description }}</small></td>
    <td>{{ p.price }}</td>
    <td></td>
    <td></td>
</tr>
{% endfor %}
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
<tr><td>&nbsp;</td><td></td><td></td><td></td><td></td></tr>
</table>
{% endblock %}
