{% extends "base.html" %}
{% load i18n l10n %}
{% load crispy_forms_tags %}

{% block title %}CityFood - Заказ блюд для доставки комплексных обедов в офисы Полтавы{% endblock %}
{% block meta_keywords %}cityfood, ситифуд, меню, список, обеды, комплексные, офис, блюдо, полтава{% endblock %}

{% block content %}
<h1>Сегодняшнее меню:</h1>
<form method="post">
{% csrf_token %}
<div class="panel-group" id="accordion">


{% for product in products %}
{% if product.printed_category %}
{% if not forloop.first %}
</table>
</div></div></div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ product.category.pk }}">
          {{ product.printed_category }}
        </a>
      </h4>
    </div>
    <div id="collapse-{{ product.category.pk }}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}">
      <div class="panel-body">
<table class="table order-table table-striped table-bordered product-list">
{% endif %}
<tr>
<td>
<a class="image-popup" href="/media/{{ product.image }}"
title="{{ product.name }}">
<img src="/media/{{ product.image }}" style="width:100px;">
</a>
</td>
<td>
<h4 class="product-name">{{ product.name }}</h4>
<p>{{ product.description }}</p>
</td>
<td>
<div class="product-price" id="product-price-{{ product.id }}" data-price="{{ product.price|unlocalize }}">{{ product.price|floatformat:2 }} грн.</div>
<input class="order--product-amount" name="product-amount-{{ product.id }}" id="product-amount-{{ product.id }}" type="number"
value="{% if selected_product == product.id %}1{% else %}0{% endif %}">
</td></tr>
{% if forloop.last %}
</table>
</div></div></div>
{% endif %}
{% endfor %}
<table class="table">
<tr>
<td colspan="3" style="text-align:right;">
<h4 class="text-info">Всего: <span id="order-price-total">0</span> грн.</h4>
</td>
</tr>
</table>

</div>
{{ form|crispy }}

<input class="btn btn-primary" type="submit" value="Оформить заказ">
</form>

<script type="text/javascript">
function refresh_total_price() {
    var total_price = 0;
    var p, a;

    {% for product in products %}
    p = parseFloat($("#product-price-{{ product.id }}").data("price"));
    a = parseInt($("#product-amount-{{ product.id }}").val());
    total_price = total_price + p * a;
    {% endfor %}
    $('#order-price-total').html(total_price);
}

refresh_total_price();
$(".order--product-amount").change(refresh_total_price);

$(document).ready(function() {
    $('.product-list').magnificPopup({
        delegate:'a.image-popup',
        type:'image',
        gallery: { enabled:true },
        image: { titleSrc: 'title' }
    });
});
</script>
{% endblock %}
