{% extends "base.html" %}

{% block content %}
<h2>Спасибо за заказ</h2>

<p>Ваш запрос успешно принят в обработку. Скоро мы вам перезвоним.</p>

<table class="table table-bordered">
<tr>
    <th>Изображение</th>
    <th>Название</th>
    <th>Количество</th>
    <th>Цена</th>
</tr>
{% for item in order.orderitem_set.all %}
<tr>
    <td><img src="/media/{{ item.product.image }}" style="width:100px;"></td>
    <td>{{ item.product.name }}</td>
    <td>{{ item.amount }}</td>
    <td>{{ item.price }} грн.</td>
</tr>
{% endfor %}
<tr>
    <td colspan="3"><strong class="pull-right">Всего:</strong></td>
    <td><strong>{{ order.price }} грн.</strong></td>
</tr>
</table>
{% endblock %}