{% extends "clear.html" %}

{% block title %}Заказы{% endblock %}

{% block content %}
<h1>Список заказов</h1><hr/>
{% for order in orders %}
<h2>Заказ № {{ order.id }}</h2>
<p>Добавлен: {{ order.added }}</p>
<table class="table table-bordered table-striped">
<tr>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Адрес доставки</th>
    <th>Комментарий</th>
</tr>
<tr>
    <td>{{ order.name }}</td>
    <td>{{ order.phone }}</td>
    <td>{{ order.address }}</td>
    <td>{{ order.comment }}</td>
</tr>
</table>
<table class="table table-bordered table-striped">
<tr>
    <th>№</th>
    <th>Название</th>
    <th>Цена за шт (грн.)</th>
    <th>Количество</th>
    <th>Цена (грн.)</th>
    <th>Заметки</th>
</tr>
{% for item in order.orderitem_set.all %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ item.product.name }}
    {% if item.product.linked_products.count > 0 %}
        <br/><ul>
        {% for i in item.product.linked_products.all %}
        <li>{{ i.name }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </td>
    <td>{{ item.price_for_one }}</td>
    <td>{{ item.amount }}</td>
    <td>{{ item.price }}</td>
    <td></td>
</tr>
{% endfor %}
<tr>
    <td colspan="4"><strong class="pull-right">Всего:</strong></td>
    <td colspan="2"><strong>{{ order.price }} грн.</strong></td>
</tr>    
</table>
<p>Статус заказа</p>
<table class="table table-bordered table-striped">
<tr>
{% for status in order_statuses %}<th>{{ status.name }}</th>{% endfor %}
</tr>
<tr>
{% for status in order_statuses %}<td>&nbsp;</td>{% endfor %}
</tr>
</table>
{% endfor %}
<h1>Список для закупки</h1><hr/>
<h2>Блюда</h2>
<table class="table table-bordered table-striped">
<tr>
    <th>№</th>
    <th>Название</th>
    <th>Цена в закупке за шт. (грн.)</th>
    <th>Цена за шт. (грн.)</th>
    <th>Количество</th>
    <th>Цена в закупке (грн.)</th>
    <th>Цена (грн.)</th>
</tr>
{% for p in products_for_purchase %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ p.product.name }}</td>
    <td>{{ p.purchase_price_for_one }}</td>
    <td>{{ p.price_for_one }}</td>
    <td>{{ p.amount }}</td>
    <td>{{ p.purchase_price }}</td>
    <td>{{ p.price }}</td>
</tr>
{% endfor %}
<tr>
    <td colspan="5" style="text-align:right;"><strong>Всего:</strong></td>
    <td><strong>{{ purchase_price }} грн.</strong></td>
    <td><strong>{{ total_price }} грн.</strong></td>
</tr>
</table>

<h2>Упаковка</h2>
<table class="table table-bordered table-striped">
<tr>
    <th>№</th>
    <th>Название</th>
    <th>Количество</th>
</tr>
{% for b in boxing %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ b.0}}</td>
    <td>{{ b.1 }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
